body {
    background-color: #27ae60;
}

header, footer, section, form {
    width: 90%;
    margin: 0 auto;
}

header, nav {
    margin-bottom: 30px;
}

header {
    color: #34495e;
}

nav {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #34495e;
}

nav label {
        color: #fff;
}

footer {
    margin-bottom: 15px;
}

.correct-alignment {
    margin-left: 30px;
    margin-right: 30px;
}

a {
    cursor: pointer;
    color: #fff;
}

.ignoredCities a {
    color: #fff;
}

#map {
    width: 100%;
}

.map-canvas {
    height: 400px;
}

.input-group-addon {
    border: none;
}

.form-control {
    border-color: #3498db;
}

.nav .input-group-addon {
    color: #fff;
    background-color: #3498db;
    border-color: #3498db;
}
